@model ChocolateFactory.Models.ProductModelProductDescriptionCulture

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductModelProductDescriptionCulture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductModelId" class="control-label"></label>
                <select asp-for="ProductModelId" class ="form-control" asp-items="ViewBag.ProductModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescriptionId" class="control-label"></label>
                <select asp-for="ProductDescriptionId" class ="form-control" asp-items="ViewBag.ProductDescriptionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CultureId" class="control-label"></label>
                <select asp-for="CultureId" class ="form-control" asp-items="ViewBag.CultureId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
